@import "../../../app/styles/style.scss";
.Amount {
    &.basket{
        display: flex;
        background: #F7F7F7;
border: 1px solid #E3E3E3;
box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
border-radius: 100px;
width: 120px;
@media (max-width:767.98px){
    width: 70px;  
    height: 30px;
}
height: 40px;
align-items: center;
padding: 0 5px;
justify-content: space-between;
.Amount__number{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}
.Amount__change{
    cursor: pointer;
    width: 30px;
    height: 30px;
    @media (max-width:767.98px){
        width: 20px;
        height: 20px; 
    }
    @media (max-width:500px){
        width: 15px;
        height: 15px; 
    }
    background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    &._minus{
       
        &::before{
            content:'';
            width: 10px;
            height: 1.6px;
            background: #fff;
            border-radius: 10%;
          
        }
        @media (max-width:500px){
            &::before{
                width: 5px;
            }
           
      
        }
    }
    &._plus{
        &::before{
            content:'';
            width: 10px;
            height: 1.6px;
            background: #fff;
            border-radius: 10%;
            @media (max-width:500px){
                width: 10px;
          
            }
        }
        &::after{
            content:'';
            width: 10px;
            height: 1.5px;
            background: #fff;
            transform: rotate(90deg) translate(-1px,5px) ;
            position: absolute;top: 50%;left: 50%;
            border-radius: 10%;
        }
        @media (max-width:500px){
           
            &::before,&::after{
                width: 8px;
                
            }
            &::after{
                content:'';
                transform: rotate(90deg) translate(-1px,4px) ;
            }
           
      
        }
    }
}


    }
		&__number {
          

		}
        &__change{
           
            
        }
}
