@use "sass:math";
@import "./_mixins";
@import "./_fonts";
@import "./icons";
@import "./null";
@import './_vars';
@import './swiper';


:root{
    --mainColor:#000;
    
    
}


.App{
    max-width:$maxWidth + px ;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $fontFamily;

   

    > * {
        min-width: 0;
    }
}



[class*="__container"] {
    @if  $maxWidthContainer > 0 {
        max-width: rem($maxWidthContainer);
        box-sizing: content-box;
        margin: 0 auto;
    }

    @if  $containerPadding > 0 {
        padding: 0 rem(math.div($containerPadding, 2));
    }
}


body{
    &.hidden{
        overflow: hidden;
        
    }
}




