@import "../../../../app/styles/style";


.right-main-catalog {
    @media (max-width:$tablet){
        display: none;
    }

    margin-top: rem(70);


  

    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;

        /* identical to box height, or 129% */

        text-transform: uppercase;
        color: #000;

    }




}








.GroupCover{
    margin-bottom: 28px;

    &__name{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 14px;
    }
}




    

