%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="icon-"] {
	&:before {
		@extend %ic;

	}
}





.CheckBox {
    &.origin{
       
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 28px;
        .CheckBox__body{
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        .CheckBox__name {
            margin-bottom: 14px;
           }


        .CheckBox__label{
            font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: #60B021;
                transition: all 0.3s ease 0s;
            }
        }
        }

        .CheckBox__check{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 14px;
            height: 14px;
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
            transition: all 0.3s ease 0s;
            &::before{
               display: flex;
               align-items: center;
               justify-content: center;
                
            }
        }
        .CheckBox__item{
            gap: 14px;
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
            &.active{
                .CheckBox__label{
                    color: #000000;
                }
                .CheckBox__check{
                    background: #4F9C2C;
                    transition: all 0.3s ease 0s;
                        &::before{
                            color: #fff;
                            font-size: 8px;
                            @extend %ic;
                            display: block;
                            content: "\e904";
                        }
                    
                   
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
    }
   

    &__check {
        cursor: pointer;
        border: 1px solid #E3E3E3;
        
    }

    &__label {
        cursor: pointer;
    }
}
