@import "../../../../app/styles/style.scss";
.cover{
    display: flex;
    align-items: center;
    gap: rem(20);
    @media (max-width:$mobileSmall){
        flex-direction: column;
        justify-content: center; 
       
    }
}
.item {
    
    @media (max-width:rem(1000)){
        flex: 0 1 calc(33.333% - 10px) ;

    }
    @media (max-width:$mobileSmall){
         &::before{
            content:'';
            padding-bottom: 100%;
            display: block;
           
            
         } 
         height: 100%;
     
         background: #F5F5F5;
         justify-content: center;
    }
    display: flex;
   
    align-items: center;
}

.image {
    max-width: rem(32);
    display: flex;
    align-items: center;
}
.text {
    max-width: rem(142);
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
@include adaptiveValue("font-size",14 ,9 );
@include adaptiveValue("line-height",20 ,16 );
color: #000000;
@media (max-width:$mobileSmall){
 text-align: center; 
 max-width: rem(110);
 font-size: 14px;
line-height: 20px;
}
}