@import "../../../../app/styles/style";

.swiperCompare2 {
    .Fold__body{
        overflow: visible;
    }

  
}

.item-swiperCompare2 {
    width: rem(150);

    @media (width <=583px){
        width: auto;
    }

    &__item {
        white-space: nowrap;
        padding: 14px 0;

        @media (width <=583px){
            padding: 45px 0 14px;
            text-align: center;
            color: #000;
        }

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        position: relative;

        &::before{
            content:'';
            position: absolute;width: 180%;height: 0.5px;top: 0;left: 0;
            background: #EFEFEF;
 
        }

        color: #75758A;
    }
}