@import "../../../../app/styles/style.scss" ;
.main-news {

    flex: 0 1 700px;
    &__new {
    }
}

.new-main {
    margin-bottom: rem(30);
    
        &__image {
            width: 100%;
            position: relative;
        margin-bottom: rem(20);
        padding: 0 0 calc(380/710 * 100%) 0;
    
            img{
                object-fit:cover;
              position: absolute;width: 100%;height: 100%;top: 0;left: 0;
            }
    
        }
    
        &__date {
            font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    
    
    @include adaptiveValue("font-size",14 , 10);
    @include adaptiveValue("line-height",20 , 12);
    margin-bottom: rem(10);
    
    color: #75758A;
    
        }
    
        &__name {
            font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    
    
    @include adaptiveValue("font-size",18 , 12);
    @include adaptiveValue("line-height",20 , 14);
    @include adaptiveValue("margin-bottom",20 ,5 );
    text-transform: uppercase;
    
    color: #000000;
        }
    
        &__text {
            font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: rem(20);
    @include adaptiveValue("font-size",14 , 10);
    @include adaptiveValue("line-height",20 , 12);
    color: #75758A;
        }
    
        &__cooments {
        }
    }


    .comments-main {

        &__value {
            font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    @include adaptiveValue("font-size",14 , 10);
    @include adaptiveValue("line-height",20 , 12);
    padding: 10px 0;
    text-transform: uppercase;
    
    color: #60B021;
    
        }
    
        &__body {
            display: flex;
            flex-direction: column;
            gap: rem(10);
        }
    
        &__item {
            background: rgba($color: #c2fef1, $alpha: 0.2);
            padding: 10px;
        }
    
        &__name {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
       
          
    @include adaptiveValue("font-size",18 , 12);
    @include adaptiveValue("line-height",20 , 14);
    
            color: #000000;
        }
    
        &__text {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
    
            @include adaptiveValue("font-size",14 , 10);
            @include adaptiveValue("line-height",20 , 12);
            color: #75758A;
        }
    }