@import "../../../app/styles/style.scss";
.lds-ring {
  display: inline-block;
  position: relative;
  width: 19px;
  height: 19px;
  &.basketLoader{
  
        width:em(25);
        height: em(25);
        &._d{
          div{
            border-color: #ffff transparent transparent transparent;
          }
          
        }
        div{
            width:em(25);
            height: em(25);
            border-color: #000 transparent transparent transparent;
            
        }
    
  }
  &.basketLoaderProduct{
    width:em(20);
    height: em(20);
  
    div{
        width:em(20);
        height: em(20);
        border-color: #000 transparent transparent transparent;
        
    }
  }
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  margin: 0px;
  border: 3px solid $hoverColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $hoverColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

