@import "../../app/styles/style.scss";

.Loves {
flex: 1 1 auto;


    &__container {
    
    }
    &__body{
        margin-top: rem(100);
        margin-bottom: rem(100);
    }
    &__grid {
      
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(30);
        @media (max-width:$mobile){
            grid-template-columns: 1fr 1fr;
        }
    }
}
