@import "../../../app/styles/style.scss";
.modal{

    &::-webkit-scrollbar {
    width: 0;
      }
    overflow: scroll;
    align-items: center;
    justify-content: center;
    position: fixed;
    
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease 0s;
    &.active{
        opacity: 1;
        pointer-events: inherit;
    }
    &__body{
    background: #ffff;
    transform: scale(0.5);
    transition: all 0.3s ease 0s;
    position: relative;
    &.active{
        transform: scale(1);
    } 
    }
    &.login{

        .modal__body{
            min-width: rem(400);
            @media (max-width:$mobile){
                min-width: rem(300);
            }
            background: #FFFFFF;
            box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
        }
        
    }
    &.raiting{
        padding: 20px;
        .modal__body{
            background: #FFFFFF;
            box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            width: rem(500);
            @media (max-width:$mobile){
                width: 100% ; 
           }
        }
        .RaitingModal {
            &__file{
                width: 0;
                height: 0;
            }
            &__label{
                margin-bottom: 10px;
            }
            &__imageCover{
                display: none;
         
               
                position: relative;
                &.active{
                    display: inherit;
                }
                .icon-clear{
                    z-index: 2;
                   position: absolute;top: rem(5);right: rem(5); 
                   &::before{
                   transition: all 0.3s ease 0s;
                   cursor: pointer;
                    
                   }
                   @media (any-hover: hover){
                    &:hover{
                        &::before{
                            transition: all 0.3s ease 0s;
                            color: #4F9C2C;
                            
                        }
                    }
                   }
                }
            }
            &__image{
             
               
                position: relative;
             width: rem(100);
                height: rem(100);
                img{
                position: absolute;width: 100%;height: 100%;top: 0;left: 0;
                object-fit: contain;
                }
            }
    padding: rem(30);
            &__top {
                display: flex;
                gap: rem(30);
                margin-bottom: rem(20);
                @media (max-width:$mobile){
                     flex-direction: column; 
                }
            }
    
            &__raiting {
                margin-bottom: rem(20);
            }
    
            &__text {
              width: 100%;
                textarea{
                    &::-webkit-scrollbar {
                    width: 0;
                      }
                    min-height: 100px;
                    padding: rem(10);
                    width: 100%;
                    border: 1px solid  #4F9C2C;
                    border-radius: rem(10);
                    resize: none;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 12px;
                    margin-bottom: rem(10);
                    color: #000000;
                }
            }
    
            &__textarea {
            }
    }
    
    }
    &.admin {
 
		&__body {
           
		}


    .adminModalProduct {
        &__flex{
            display: flex;
            gap: em(30);
        }
        padding: rem(30) rem(60);
        @media (max-width:$mobile){
            padding: rem(20) rem(10);
        }
        max-height: 70vh;
        overflow: scroll;
        &::-webkit-scrollbar {
        width: 0;
          }
		&__input {
            display: flex;
            flex-direction: column;
            gap: rem(10);
            margin-bottom: rem(20);
            @media (max-width:$tablet){
                flex-direction: column;
            }
		}

		&__spoilers {
            margin-bottom: rem(20);
            display: flex;
            gap: rem(30);
            .ProductSpoiler.origin{
                flex: 1 1 auto;
            }
		}

		&__spoilerName {
            border: 1px solid #4F9C2C;
            padding: rem(5) rem(10);
		}

        &__spoilerItem {
            border: 1px solid #4F9C2C;
            padding: rem(5) rem(10);
		}


		&__typeChoose {
          margin-bottom: rem(30);
		}

		&__typeChooseItem {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
            display: flex;
            gap: rem(20);
            justify-content: space-between;
            align-items:center;
            @media (max-width:$tablet){
                flex-direction: column;
            }
		}

		&__text {
		}

		&__images {
            margin-bottom: rem(20);
		}

		&__imageAdd {
            margin-bottom: rem(20);
		}

		&__imagesItems {
            display: flex;
            gap: rem(30);
		}

		&__image {
            width:rem(100);
            height: rem(100);
            position: relative;
            img{
                object-fit: contain;
                position: absolute;width: 100%;height: 100%;top: 0;left: 0;
            }
		}
}
.basket {
}
.g {
}

    .basket {
    }
    .g {
    }
    
        
		
}


.basket {
}
.g {
}

}



