.Admin {

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    &__body {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        padding: rem(30) rem(50);
    display: flex;
    flex-direction: column;
    gap: rem(30);
    }
}
.basket {
}
