.Catalog {
    &__gridLoader{
        display: flex;
        justify-content: center;
        margin-top: rem(30);
    }
    .MuiSlider-root{
        height: rem(4);
    }
    .MuiSlider-rail{
        background: #3c6a18;
    }
    .MuiSlider-track{
        background: #60B021;
    }
    .MuiSlider-thumb{
        background: #60B021;
        width: 20px;
        height: 20px;
    }
    .slider-right-main-catalog__sliderInputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .slider-right-main-catalog__d{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


color: #75758A;
   }
   .slider-right-main-catalog__sliderInput {
        background: #F5F5F5;
        border: 1px solid #E3E3E3;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
        width: rem(80);
        height: rem(30);
        padding-left: rem(10);
        display: flex;
        align-items: center;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #75758A;
    }
    &__container {
        margin-bottom: rem(80);
        margin-top: rem(90);
        @media (max-width:$mobile){
            margin-bottom: rem(30);
            margin-top: rem(50);
        }
    }
    &__main {
    }
    &__title {
        position: relative;
        z-index: 34;
        font-family: 'Ubuntu';
         font-style: normal;
         font-weight: 700;
         font-size: 30px;
         line-height: 34px;
         text-transform: uppercase;
         color: #000000;
         margin-bottom: rem(20); 
         margin-top: rem(14);
    }

    &__text {
        position: relative;
        z-index: 34;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;  
        color: #75758A;
        max-width: rem(540);
   
    }

    &__brands {
    }
}
.brandsCatalog {

@include adaptiveValue("margin-bottom", 45, 30);
    &__title {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        color: #000000;
        margin-bottom: rem(26); 
    }

    &__slider {
    }
}
.slider-brand-catalog {
position: relative;
&__sliderCover{
@media (max-width:$mobile){
     display: none;
}
}
    &__swiper {
       
    }

    &__item {
    }

    &__navigation {
    }

    &__prevButton {
    }

    &__nextButton {
    }
}
.item-slider-brand-catalog {
   cursor: pointer;
padding: 3px;

    &__boxshadow{
        transition: all 0.3s ease 0s;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        position: relative;
        @media (any-hover: hover){
            &:hover{
                transition: all 0.3s ease 0s;
                box-shadow: 5px 5px 5px rgba(#8EE902, 0.3);
            }
        }
    }
    &__cover {
        padding: 0 0 100% 0;
        
    }
    &__absolute{
        position: absolute;width: 100%;height: 100%;top: 0;left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        //position: absolute;width: 100%;height: 100%;top: 0;left: 0;
        width: 50%;
        height: 50%;
        position: relative;
        img{
            object-fit: cover;
            position: absolute;width: 100%;top: 0;left: 0;
        }
    }
  &.active{
    .item-slider-brand-catalog__check{
        transition: all 0.3s ease 0s;
        background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
       
    }
    .item-slider-brand-catalog__boxshadow{
        box-shadow: 5px 0px 5px rgba(#8EE902, 0.3);
    }
  }
    &__check {
        transition: all 0.3s ease 0s;
        position: absolute;bottom: rem(20);right: rem(20);
        background: #C9C9C9;
        border-radius: 50%;
        width: rem(20);
        height: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            color: #fff;
            font-size: rem(13);
            
        }
    }
}

.slider-brand-catalog {
  
    &__spoiler{
        opacity: 0;
        pointer-events: none;
        height: 0; 
        @media (max-width:$mobile){
             opacity: 1;
             pointer-events: inherit;
             height: auto; 
        }
    }
    &__spoilerName {
    }

    &__item-mobile {
    }
}
.mobile-item-slider-brand-catalog {
display: flex;
justify-content: space-between;
align-items: center;
padding: rem(5) rem(10);
&.active{
    .mobile-item-slider-brand-catalog__check{
        background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
    }
}
    &__image {
        width: 70px;
        height: 30px;
        position: relative;
        img{
            object-fit: contain;
            position: absolute;width: 100%;height: 100%;top: 0;left: 0;
        }
    }

    &__check {
        background: #C9C9C9;
        border-radius: 50%;
        width: rem(20);
        height: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            color: #fff;
            font-size: rem(13);
            
        }
    }
}





.mainCatalog {
  
  display: flex;
  gap: rem(50);
    &__count {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-bottom: rem(26);
z-index: 27 ;
position: relative;
span{
    color: #60B021;
}
    }

    &__left {
        flex:  1 1 auto;
    }

    &__sort {
        
    }
    &__filterAccordion{

        @media (min-width:$tablet){
            display: none;
        }
    }
    &__grid {
        position: relative;
        .mainCatalog__gridEnd{
            position: absolute;width: 100%;bottom: 0;left: 0;height: 10px;
        }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(30);
        @media (max-width:$mobile){
            grid-template-columns: 1fr 1fr;
        }
    }

    &__item {
    }

    &__right {
    }
    &__toggleButtonGroup{

    }
    &__toggleButton{
        //pointer-events: none;
      
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        background: #F7F7F7 !important;
        border: 1px solid #E3E3E3;
        height: rem(40);
        
      
    }
}
.sort-main-catalog {
    display: flex;
    @media (max-width:$mobile){
          
    }
    justify-content: space-between;
    margin-bottom: rem(30);
    &__options {
        @media (max-width:$mobile){
             flex: 1 1 auto; 
             margin-right: 30px;
        }
    }

    &__option {
    }

    &__rignt {
    }
}
.right-sort-main-catalog {
display: flex;
     &__Arrow{
        font-size: rem(14);
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(40);
        width: rem(40);
        background: #F7F7F7;
        border: 1px solid #E3E3E3;
        &.active{
            background: #FFFFFF;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        }
        &._top{

        }
        &._bottom{
            &::before{
                 transform: rotate(-180deg);
                
            }
        }
     }
   

  
}

.slidesHome {

    &__slide {
    }
}
.slideHome {

    &__body {
    }

    &__image {
    }

    &__imageCover {
    }

    &__name {
    }

    &__brand {
    }

    &__rating {
     
    }

    &__actions {
       
    }

    &__business {
    }
}
.slider {
}
.businessHome {

    &__item {
    }
}

.right-main-catalog {

    &__ratio {
    }

    &__name {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

text-transform: uppercase;

color: #000000;

    }

    &__group {
    }

    &__groupItem {
        &.Mui-selected{

        }
    }
}

.right-main-catalog {
    @media (max-width:$tablet){
        display: none;
    }
  margin-top: rem(70);
    &__ratio {
    }
}
.ratio-right-main-catalog {

    &__name {
    }
    &__check{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(14);
        height: rem(14);
        border: 1px solid #E3E3E3;
        border-radius: 50%;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
        background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);

        &::before{
            content:'';
            background: #fff;
            border-radius: 100%;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease 0s;
            border-radius: 50%;
            transform-origin: center;
        }
    }
    &__item {
     
        display: flex;
        input{
            position: absolute;
            opacity: 0;
            width: 0;
            &:checked ~ .ratio-right-main-catalog__label{
                color: #000000;
            }
            &:checked + .ratio-right-main-catalog__check{
                    &::before{
                        //width: rem(6);
                        //height: rem(6);
                        transform: scale(0.47);
                        transition: all 0.3s ease 0s;
                    }
                    label{
                        color: #000000;
                    }
                    background: #60B021;
            }
           
        }
        label{
            cursor: pointer;
            display: flex;
            gap: rem(14);
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #000000;
            transition: all 0.3s ease 0s;
           @media (any-hover: hover){
                        &:hover{
                            color: #60B021;
                            transition: all 0.3s ease 0s;
                        }
                    }
          
        }
    }
}


.mainCatalog {

    &__right {
    }
}
.right-main-catalog {

    .slider-right-main-catalog {
        max-width: 300px;
        &__name{
            margin-bottom: rem(15);
            font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

text-transform: uppercase;

color: #000000;

        }
        .MuiSlider-root{
            height: rem(4);
        }
        .MuiSlider-track{
            background: #60B021;
        }
        .MuiSlider-rail{
            background: #3c6a18;
        }
        .MuiSlider-thumb{
            background: #60B021;
            width: 20px;
            height: 20px;
        }
        .MuiSlider-valueLabel{
            background: #3c6a18;
            color: #ffffff;
        }
        
     
    }
}


.sliderAccordion {
    max-width: 300px;
    &__name {
        margin-bottom: rem(15);
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

text-transform: uppercase;

color: #000000;
    }

    &__sliderInputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sliderInput {
        background: #F5F5F5;
        border: 1px solid #E3E3E3;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
        width: rem(80);
        height: rem(30);
        padding-left: rem(10);
        display: flex;
        align-items: center;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #75758A;
    }

    &__d {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        
        
        color: #75758A;
    }

}
