.Compare {
margin-top: rem(114);
@media (max-width:$tablet){
    margin-top: rem(80);  
}
    &__container {
        margin-left: auto;
    margin-right: 0;
    max-width: 1230px;
    padding: 0 15px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;

        @include adaptiveValue(" margin-bottom", 43,20 );
        @media (max-width:583px){
              flex-direction: row;
              gap: rem(5);
              color: black;
              justify-content: center;
        }
        @media (max-width:$mobile){
            font-size: 18px;
            line-height: 30px;
        }
        text-transform: uppercase;
        background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
background-clip: text;
color: transparent;
span{
    color: $mainColor;
}
    }

    &__items {
    }

    &__main {
    }
}
.items-compare {
display: flex;
gap: rem(24);
border-top: 1px solid #EFEFEF;
border-bottom: 1px solid #EFEFEF;
padding: 14px 0;
align-items: center;
position: relative;
&__delete{
    display: none;
    cursor: pointer;
          transition: all 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            color: #4F9C2C;
            transition: all 0.3s ease 0s;
        }
    }
        @media (max-width:583px){
            display: flex;
        }
}
    &__action{
     cursor: pointer;
display: none;
        @media (max-width:583px){
            display: flex;
            &.active{
               span,&::before,&::after{
                transition: all 0.3s ease 0s;
               border-color: #89e1ff;
                
               }
               
            }
        }
       
        gap: rem(1.6);
       
        span{
            width: rem(4.5);
            height: rem(4.5);
            border: 1px solid #000;
            border-radius: 50%;
            transition: all 0.3s ease 0s;
           
        }
        &::before,&::after{
            content:'';
            width: rem(4.5);
            height: rem(4.5);
            border: 1px solid #000;
            border-radius: 50%;
            transition: all 0.3s ease 0s;
        }
    }
    &__body{
        display: flex;
        gap: rem(20);
        @media (max-width:583px){
             position: absolute;top: 115%;left: 5px;
             flex-direction: column;
             padding: 14px;
           border-radius: 13%;
             border: 1px solid rgba($color: #6d6c6c, $alpha: 0.7); 
             background: #fff;
             z-index: 10000;
             transform: scale(0,0);
             transform-origin: top left;
             transition: all 0.3s ease 0s;
             &.active{
                transition: all 0.3s ease 0s;
                transform: scale(1,1);
             }

        }
    }
    &__item {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
cursor: pointer;
color: #75758A;
&.active{
    color: #4F9C2C;
}
    }
}
.main-compare {

min-width: 0px;
width: 100%;
    &__left {
      
    }

    &__clear {
        cursor: pointer;
           transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: #4F9C2C;
                transition: all 0.3s ease 0s;
            }
        }
        display: flex;
        gap: rem(8);
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
&::before{
   font-size: rem(16);
    
}
    }

    &__item {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */


color: #75758A;

    }

    &__right {
      flex: 0 0 auto;
    max-width: 100%;
    }
}

.swiperCompare {

    &__item {
    }
}
.item-swiperCompare {
   width: rem(150);
   @media (max-width:583px){
    width: auto;
   }
     position: relative;
    &__image-cover {

        width: rem(100);
  position: relative;
    }

    &__image {
        padding: 0 0 100% 0;
   
        position: relative;
        img{
            position: absolute;width: 100%;height: 100%;top: 0;left: 0;
        }
    }

    &__delete {
        width: 20px;
        height: 20px;
        top:0;
        right: 0;
        @media (max-width:583px){
           left:100%
           }
        position: absolute;
        &::before,&::after{
            content:'';
            width: 1px;
            height: 20px;
            background: #75758A;
            position: absolute;
            top:0   ;
            right: 50%;
        }
        &::before{
           transform: rotate(45deg) translate(50%,0);
            
        }
        &::after{
            transform: rotate(-45deg) translate(50%,0) ;
            
        }
    }

    &__name {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */
@media (max-width:583px){
      text-align: center;
}

color: #000000;
    }

    &__brand {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #75758A;
        @media (max-width:583px){
            text-align: center;
        }
    }

    &__item {
    }
}




.main-compare {
    
    &__top {
        display: flex;
        padding: 14px 0 14px 0;
         width: 100%;
        min-width: 0;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        position: relative;
        &::before{
            content:'';
            position: absolute;width: 6px;height: 100%;top: 0;right: -6px;
            background: #fff;
            z-index: 100;
        }
        &::after{
            content:'';
            position: absolute;width: 6px;height: 100%;top: 0;left: -6px;
            background: #fff;
            z-index: 100;
            
        }
    }

    &__top-left {
        margin-right: rem(105);
        display: flex;
        flex-direction: column;
        @media (max-width:583px){
              display: none;
        }
         
    }

    &__clear {
        flex: 1 1 auto;
    }

    &__item {
        max-width: rem(80);
    }

    &__top-slider {
        flex: 1 1  auto;
        min-width: 0;
        
       
    }
}

.swiperCompare {
//max-width: 100%;
    &__item {
    }
    .swiper-slide{
        @media (max-width:583px){
              display: flex;
              justify-content: center;
        }
    }
   
}
.item-swiperCompare {

    &__image-cover {
    }

    &__image {
    }

    &__delete {
    }

    &__name {
    }

    &__brand {
    }
}





.main-compare {
    &__button{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: rem(80);
    }
    &__bottom {
      display: flex;
      min-width: 0;
      margin-bottom: rem(30);
      position: relative;
    }

    &__bottom-left {
        border-bottom: 1px solid #EFEFEF;
        padding-right: rem(105);
        @media (max-width:583px){
            position: absolute;
            padding-right: 0;
            left: 50%;
            transform: translate(-50%,0);
            text-align: center;
     
           
        }
        &__item{
            @media (max-width:583px){
                padding: 0;
                border: none;
                height: 75px;
                display: flex;
               align-items: flex-start;
                justify-content: center;
                padding-top: 17px;
            }
            white-space: nowrap;
            font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
padding: 14px 0;
color: #75758A;
position: relative;
&::before{
    content:'';
    position: absolute;width: 200%;height: 0.5px;top: 0;left: 0;
    background: #EFEFEF;

}


        }
  
    }
}
.item-swiperCompare {

    &__item {
    }

    &__bottom-right {
        min-width: 0;
        border-bottom: 1px solid #EFEFEF;
        flex:  1 1 auto;
    }
}
.swiperCompare2 {
    
    .Fold__body{
        overflow: visible;
    }
    &__item {
    }
}
.item-swiperCompare2 {
    width: rem(150);
    @media (max-width:583px){
     width: auto;
    }
    &__item {
        white-space: nowrap;
        padding: 14px 0;
       @media (max-width:583px){
        padding: 45px 0 14px 0;
        text-align: center;
        color: #000;
       }
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;


position: relative;
&::before{
    content:'';
    position: absolute;width: 180%;height: 0.5px;top: 0;left: 0;
    background: #EFEFEF;
 
}
color: #75758A;
    }
}
