.News {
margin-top: rem(123);
@media (max-width:$mobile){
    margin-top: rem(60);
}
    &__container {
    }
    &__button{
        margin-bottom: rem(30);
    }
    &__title {
        display: flex;
        flex-direction: column;
        span{
            background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
@include adaptiveValue("font-size",30 , 15);
@include adaptiveValue("line-height",34 , 17);
/* identical to box height */

text-transform: uppercase;
        }
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;

@include adaptiveValue("font-size",30 , 15);
@include adaptiveValue("line-height",34 , 17);
text-transform: uppercase;

color: #000000;

@include adaptiveValue("margin-bottom", 30, 15);
    }

    &__body {
        width: 100% ;
        display: flex;
        @include adaptiveValue("gap", 141, 50);
    }

    &__main {
    }

    &__right {
    }
}
.main-news {

    flex: 1 1 auto;
    &__new {
    }
}
.new-main {
margin-bottom: rem(30);

    &__image {
        width: 100%;
        position: relative;
    margin-bottom: rem(20);
    padding: 0 0 380/710 * 100% 0;

        img{
            object-fit:cover;
          position: absolute;width: 100%;height: 100%;top: 0;left: 0;
        }

    }

    &__date {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;


@include adaptiveValue("font-size",14 , 10);
@include adaptiveValue("line-height",20 , 12);
margin-bottom: rem(10);

color: #75758A;

    }

    &__name {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;


@include adaptiveValue("font-size",18 , 12);
@include adaptiveValue("line-height",20 , 14);
@include adaptiveValue("margin-bottom",20 ,5 );
text-transform: uppercase;

color: #000000;
    }

    &__text {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
margin-bottom: rem(20);
@include adaptiveValue("font-size",14 , 10);
@include adaptiveValue("line-height",20 , 12);
color: #75758A;
    }

    &__cooments {
    }
}
.comments-main {

    &__value {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
@include adaptiveValue("font-size",14 , 10);
@include adaptiveValue("line-height",20 , 12);
padding: 10px 0;
text-transform: uppercase;

color: #60B021;

    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }

    &__item {
        background: rgba($color: #c2fef1, $alpha: 0.2);
        padding: 10px;
    }

    &__name {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
   
      
@include adaptiveValue("font-size",18 , 12);
@include adaptiveValue("line-height",20 , 14);

        color: #000000;
    }

    &__text {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;

        @include adaptiveValue("font-size",14 , 10);
        @include adaptiveValue("line-height",20 , 12);
        color: #75758A;
    }
}
.right-news {
    margin-bottom: rem(60);
    .slideHome__body{
        position: static;
    }
    &__title {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

text-align: right;

color: #000000;
margin-bottom: rem(26);
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: rem(30);
    }
}
.right-news {
@media (max-width:$mobile){
     display: none; 
}
    &__item {
    }
}
.item-right {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    width: rem(255);
    @include adaptiveValue("width", 255, 180);
    padding: rem(28) rem(20) rem(21) rem(17);
    @media (max-width:$tablet){
        padding: rem(28) rem(10) rem(21) rem(10);
    }
    position: relative;
  
    &__image-cover {
        padding-right: rem(78);
        @include adaptiveValue("padding-right",78 ,10 );
        margin-bottom: rem(30);
    }

    &__image {
      
        padding: 0 0 112/160*100% 0;
        position: relative;
        img{
            position: absolute;width: 100%;height: 100%;top: 0;left: 0;
        }
    }

    &__name {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */


color: #000000;
    }

    &__brand {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        
        
        color: #75758A;
    }

    &__price {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


color: #60B021;
    }

    &__rating {
        margin-bottom: rem(13);
    }

    &__button {
    }

    &__actions {
        position: absolute;;top: rem(20);right: rem(20);
        display: flex;
        flex-direction: column;
        gap: rem(17);
    }

    &__action {
    }
}
.news {
}


.businessHome {

    &__item {
        transition: all 0.3s ease 0s;
        cursor: pointer;
        @media (any-hover: hover){
            &:hover{
                color: #57f110;
                transition: all 0.3s ease 0s;
            }
        }
        &.active{
            transition: all 0.3s ease 0s;
            color: #57f110;
            text-shadow: 0 0 3px rgba($color: #57f110, $alpha: 0.5);
            cursor: pointer;
            @media (any-hover: hover){
                &:hover{
                    transition: all 0.3s ease 0s;
                    text-shadow: 3px 3px 8px rgba($color: #57f110, $alpha: 1.0);
                }
            }
        }
    }
}
