.Product {
margin-top: rem(134);
@media (max-width:$tablet){
    margin-top: rem(80);
}
    &__container {
    }

    &__main {
    }
}
.main-product {
display: flex;
gap: rem(50);
margin-bottom: rem(50);
@media (max-width:$mobile){
    margin-bottom: rem(30);  
}
@media (max-width:$tablet){
     flex-direction: column; 
}
      &__actions{
        display: flex;
        align-items: center;
        margin-bottom: rem(50);
        gap: rem(30);
      }
    &__left {
        flex: 0 0 rem(425);
        width: rem(425);
        @media (max-width:$tablet){
            align-self: center;
       }
       @media (max-width:$mobileSmall){
        width: 100%;
       }
    }

    &__gallery {
      
    }

    &__tags {
    }

    &__right {
    }

    &__brand {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        @media (max-width:$mobile){
            font-size: 18px;
            line-height: 30px;
        }
        text-transform: uppercase;
        background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
background-clip: text;
color: transparent;
    }

    &__name {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        text-transform: uppercase;
        margin-bottom: rem(23);
        color: #000000;
        @media (max-width:$mobile){
            font-size: 18px;
            line-height: 20px;
        }

    }

    &__description {
    }
}



.gallery-product {
    margin-bottom: rem(43);
    border: 1px solid #EFEFEF;
  position: relative;
  
  &__actions {
    position: absolute;top: 22px;right:21px;
    display: flex;
    flex-direction: column;
    gap: rem(17);
}

&__action {
    z-index: 30;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            color: #4F9C2C;
            transition: all 0.3s ease 0s;
        }
    }
   &.active{
    color: #4F9C2C;
    cursor: inherit;
   }
}
    &__slider {
     
        .mySwiper2{
            position: relative;
          
            width: 100%;
        }
    }
   
    &__sliderItem{
        position: relative;
        z-index: 3;
        padding:0  0 100% 0 ;
        img{
            position: absolute;width: 245/425*100%;height: auto;top: 50%;left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &__thumpItem{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-image-source:  linear-gradient(#EFEFEF,#EFEFEF); 
        border-image-slice: 1;
       transition: border-image-source 0.1s ease 0s;
        height: 100%;
        position: relative;
        width: rem(55);
        img{
            position: absolute;width: 30/55*100%;height: auto;top: 50%;left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &__thumbs {
       
        position: absolute;top: 0;left: 0;
      
        .swiper-slide-thumb-active{
            .gallery-product__thumpItem{
            transition: border-image-source 0.1s ease 0s;
            border-width: 2px;
            border-image-source:  linear-gradient(rgba(142, 233, 1),rgba(79, 156, 44,1)); 
          
            }
        }
        .mySwiper{
     
            height: rem(216);
        }
    }
}
.mySwiper2 {
}
.mySwiper {
}
.tags-product {
display: flex;
flex-wrap: wrap;
column-gap: rem(23);
row-gap: rem(14);

    &__tag {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        
        color: #75758A;
        &_big {
            font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;

        }
    }
}
.description-product {
    &__button{
        display: flex;
        justify-content: center;
    }
    &__foldText{
       
        &.active{
            padding: 10px 5px;
        }
    }
    &__toggleItem {
    }
    &__body{
        border-top: 1px solid #EFEFEF;
        border-bottom: 1px solid #EFEFEF;
        margin-top: -1px;
        margin-bottom: 25px;
        transition: all 0.3s ease 0s;
    }
    &__descriptions {
        margin-top: -1px;
        border-top: 1px solid #EFEFEF;
        border-bottom: 1px solid #EFEFEF;
        position: relative;
     
    }

    &__description {
        height: rem(44);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #75758A;
span{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: right;

color: #000000;
}
    }
}




.Product {

    &__raitings {
    }
}
.raitings-product {
margin-bottom: rem(40);

&__item-cover{
    padding: rem(6);
}
    &__button {
        margin-bottom: rem(30);
    }

    &__body {
    }

    &__item {
    }
}
.basket {
}
.g {
}
.item-raitings {
border: 1px solid #4F9C2C;
padding: rem(10) rem(10);
border-radius: rem(10);
background: rgba(79, 156, 44,0.06);
box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
    &__name {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;
        margin-bottom: rem(10);
        color: #000000;
    }

    &__raiting {
        margin-bottom: rem(10);
    }

    &__text {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        margin-bottom: rem(10);
        color: #000000;
    }
}

