@import "../../app/styles/style.scss" ;
 .CheckBoxGroup{
    display: flex;
    flex-direction: column;
    gap: rem(15);

}
.AccordionUser__item{
    .CheckBoxGroup{
        padding:15px 0;
    } 
}
.checkBoxFiltr{
    display: flex;
    gap: rem(14);
    cursor: pointer;
    &.active{
      .CheckBox__check{
        background: #4F9C2C;
        transition: all 0.3s ease 0s;
            &::before{
                color: #fff;
                font-size: 8px;
                @extend %ic;
                display: block;
                content: "\e904";
            }
      }
    }
}
.CheckBox__label{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #000000;
transition: all 0.3s ease 0s;
@media (any-hover: hover){
    &:hover{
        color: #60B021;
        transition: all 0.3s ease 0s;
    }
}
}

.CheckBox__check{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;
    &::before{
       display: flex;
       align-items: center;
       justify-content: center;
        
    }

}


