.Fold {
    &.product{
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        &.active{
            visibility: visible;
        pointer-events: inherit;
        position: inherit;
        }
        .Fold__body{
           
        }
    }
    &__body {
        overflow: hidden;
        transition: height 0.3s ease 0s;
    }

    &__item {
       
    }

    &__buttonCover {
        display: flex;
        justify-content: center;
    }

    &__button {
    }
}
