@import "../../../../app/styles/style";

.itemWorkHome {
    flex: 0 1 25%;
    background: #FFF;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    padding: rem(25) rem(30);

    &__name {
        display: flex;
        gap: rem(15);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        /* identical to box height, or 125% */
        margin-bottom: rem(17);
        color: #000;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: rem(10);
        color: #75758A;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #60B021;
    }
}