@import "../../../../app/styles/style.scss";
.itemGridHome {
    @media (max-width:$mobile){
        font-size: 12px;
    }
    @media (max-width:$mobileSmall){
        font-size: 8px;
    }
   
    position: relative;
     transition: all 0.3s ease 0s;
     transform: scale(0.8);
     opacity: 0;
 
}
.activeItem{
    transform: scale(1);
     opacity:1;
   }

    .cover {
      //position: absolute;width: 100%;height: 100%;top: 0;left: 0;
    }

    .image {
        //position: absolute;width: 100%;height: 100%;top: 0;left: 0;
     
        img{
            object-fit: cover;
            position: absolute;width: 100%;height: 100%;top: 0;left: 0;
        }
    }

    .texts {
        position: absolute;bottom: calc(25/350 * 100%);left: calc(25/350 * 100%);
        @media (max-width:$tablet){
            bottom: rem(10);
            left: rem(10);
        }
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: em(16);
        line-height: em(42);
        color: #000000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
    }

    .text {
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        padding: rem(0) em(15);
        &._add{
            background: #75758A;
            color: #fff;
        }
    }
