@import "../../app/styles/style.scss" ;
.Basket {
    &__none{
        height: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width:$mobile){
            height: 400px;
        }
        &::before{
            font-size: 300px;
            color: #4F9C2C;
            opacity: 0.5;
            @media (max-width:$mobile){
                font-size: 200px;
            }
                
            }
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 34px;
    }

 flex: 1 1 auto;
margin-top: rem(100);

@media (max-width:$mobile){
    margin-top: rem(50);
}
    &__container {
    }

    &__body {
    }

    &__title {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
text-transform: uppercase;
margin-bottom: rem(43);
color: #000000;
@media (max-width:$mobile){
    margin-bottom: rem(10);
    font-size: 20px;
line-height: 24px;
}
    }

    &__items {
    }
}




