@import "../../app/styles/style";

.Product {
    margin-top: rem(134);
    flex: 1 1 auto;

    @media (max-width:$tablet){
        margin-top: rem(80);
    }
   
}
















