@import "../../../app/styles/style" ;

.slidesHome {
    margin-bottom: rem(30);
}

.mobile{
    display: none;
 
    @media (max-width:$mobile){
        display: flex; 
        flex-direction: column;
        gap: rem(20);
    }
}
 
 
.header {
    @include adaptiveValue("margin-bottom",27 ,27 );

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
 
.sliderCover {
    cursor: pointer;
}
 

 
