@import "../../../app/styles/style.scss";

.gridHome {
    @include adaptiveValue("margin-bottom",90 ,10 );
}

        .__container {
            
        }
        .cover{
            position: relative;
            padding: 0 0 calc(730/1100*100%) 0;
            @media (max-width:$tablet){
                padding: 0 0 calc(1100/1100*100%) 0;
            }
            @media (max-width:$mobile){
                padding: 0 0 100% 0;
            }
            @media (max-width:$mobile){
                padding: 0 0 100% 0;
            }
        }
        .body {
            gap: rem(30);
            @media (max-width:$mobile){
                gap: rem(10);
            }
            position: absolute;width: 100%;height: 100%;top: 0;left: 0;
            :nth-child(1){
                grid-area: a;
            }
            :nth-child(2){
                grid-area: b;
    
            }
            :nth-child(3){
                grid-area: c;
            }
            :nth-child(4){
                grid-area: d;
            }
          
            :nth-child(5){
                grid-area: e;
                img{
              
                   @media (max-width:$mobile){
                    object-fit: cover ;
                 	vertical-align: middle;
                   }
                }
            }
            display: grid;
           
            grid-template-areas:"a b c"
                                "d d e";
            @media (max-width:$tablet){
                grid-template-areas:"a b "
                "d d "
                "c e";
            }
            @media (max-width:$mobile){
                grid-template-areas:"a b"
                "c d"
                "e"
            }
        }
    
        .item {
        }
    

