@import "../../app/styles/style.scss";
.slideHome {
    padding: 0 0 calc(410/350 * 100%) 0;
    position: relative;
        &__body {
            position: absolute;width: 100%;height: 100%;top: 0;left: 0;
            padding:  rem(20) 0;
            @media (max-width:$mobile){
                padding:  rem(10) 0;
            }
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 1px solid #EFEFEF;
        }
    
        &__image {
           width: calc(126/236 * 100%);
        
            @include adaptiveValue("margin-bottom",10 ,-20);
            @media (max-width:$mobile){
                 margin-bottom: 10px; 
            }
        }
        &__price{
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
    
            @include adaptiveValue("font-size", 16,13 );
            @include adaptiveValue("line-height", 26,16 );
            text-align: center;
            
            color: #000000;
        }
        &__imageCover {
     
            padding: 0 0 calc(141/200 * 100%) 0;
            position: relative;
            img{
                
                position: absolute;width: 100%;height: 100%;top: 0;left: 0;
                object-fit: contain;
            }
        }
    
        &__name {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
           
            
            @include adaptiveValue("font-size", 16,13 );
            @include adaptiveValue("line-height", 26,16 );
            text-align: center;
            
            color: #000000;
          
        }
    
        &__brand {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            @include adaptiveValue("font-size", 14,10 );
            @include adaptiveValue("line-height", 26,13 );
            
            text-align: center;
            
            color: #75758A;
           
        }
    
        &__rating {
            display: flex;
            justify-content: center;
            flex: 1 1 auto;
            @media (max-width:$tablet){
    
                @include adaptiveValue("margin-bottom",10 , 3);
            }
            @media (max-width:$mobile){
               
                .css-dqr9h-MuiRating-label{
                   
                }
            }
        }
    
        &__actions {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: rem(20);
            align-items: center;
            &:nth-child(n){
                //flex: 1 1 50%;
            }
        }
    }
   
    .businessHome {
       position: absolute;top: rem(20);right:rem(20);
       display: flex;
       flex-direction: column;
       gap: rem(15);
       @media (max-width:$mobile){
            right: rem(10); 
       }
       svg path{

       }
           &__item {
            cursor: pointer;
            transition: all 0.3s ease 0s;
            path{
                fill-rule: nonzero;
                fill: $hoverColor;
                opacity: 0.3;
                transition: all 0.3s ease 0s;

            }
            @media (any-hover: hover){
                &:hover{
                    path{
                        opacity: 0.5;
                        transition: all 0.3s ease 0s;
                    }
                    transform: scale(1.1);
                    transition: all 0.3s ease 0s;
                 
                }
            }
            &.active{
                path{
                    fill-rule:nonzero;
                    fill: $hoverColor;
                    opacity: 1;

                }

            }
           }
       }



       .productCard {
        font-size: 16px;
        @media (max-width:850px){
            font-size: 12px;  
        }
        @media (max-width:650px){
            font-size: 8px;  
        }
        @media (max-width:$mobileSmall){
            font-size: 15px;  
        }

        background-color: #fff;
        padding: em(10) em(20);
        &._cart{
            padding: em(4) em(20);
        }
        border-radius: 20px;
        color: #0d172a;
        cursor: pointer;
        display: inline-block;
        font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-weight: 600;
        line-height: 1;
  
        text-align: center;

        transition: all .5s cubic-bezier(.4, 0, .2, 1);
        box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.4);
        user-select: none;
        -webkit-user-select: none;
        svg{
            width:em(25);
            height: em(25);
            path{
             
                fill: #000000;
            }
        }
    
        &.active{
                background-color:#000000;
                color: #ffffff;
                path{
                    fill: #fff;
                }
              
             
                

        
            
        }

        @media (any-hover: hover){
            &:hover{
                transition: all .5s cubic-bezier(.4, 0, .2, 1);
                box-shadow: 2px 4px 4px rgba(166, 175, 195, 0.8);
            }
        }
      }

      .catalogItem .productCard{
        @media (max-width:1080px){
            font-size: 12px;  
        }
        @media (max-width:$mobile){
            font-size: 17px;  
        }
        @media (max-width:582px){
            font-size: 13px;  
        }
        @media (max-width:$mobileSmall){
            font-size: 10px; 
        }
      }


      
    
    