@import "../../../../../../app/styles/style"; 

.tags-product {
    display: flex;
    flex-wrap: wrap;
    gap: rem(14) rem(23);
    
    &__tag {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #75758A;

        &_big {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;

            /* identical to box height */
    
    
            color: #000;
    
        }
    }
}