@import "../../../../../../app/styles/style.scss";
.gallery-product {
    margin-bottom: rem(43);
    border: 1px solid #EFEFEF;
  position: relative;
  
  &__actions {
    position: absolute;top: 22px;right:21px;
    display: flex;
    flex-direction: column;
    gap: rem(17);
}

&__action {
    z-index: 30;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            color: #4F9C2C;
            transition: all 0.3s ease 0s;
        }
    }
    path{
        fill-rule: nonzero;
        fill: $hoverColor;
        opacity: 0.3;
        transition: all 0.3s ease 0s;

    }
    @media (any-hover: hover){
        &:hover{
            path{
                opacity: 0.5;
                transition: all 0.3s ease 0s;
            }
            transform: scale(1.1);
            transition: all 0.3s ease 0s;
         
        }
    }
    &.active{
        path{
            fill-rule:nonzero;
            fill: $hoverColor;
            opacity: 1;

        }

    }
}
    &__slider {
     
        .mySwiper2{
            position: relative;
          
            width: 100%;
        }
    }
   
    &__sliderItem{
        position: relative;
        z-index: 3;
        padding:0  0 100% 0 ;
        img{
            position: absolute;width: calc(245/425*100%);height: auto;top: 50%;left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &__thumpItem{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-image-source:  linear-gradient(#EFEFEF,#EFEFEF); 
        border-image-slice: 1;
       transition: border-image-source 0.1s ease 0s;
        height: 100%;
        position: relative;
        width: rem(55);
        img{
            position: absolute;width: calc(30/55*100%) ;height: auto;top: 50%;left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &__thumbs {
       
        position: absolute;top: 0;left: 0;
      
        .swiper-slide-thumb-active{
            .gallery-product__thumpItem{
            transition: border-image-source 0.1s ease 0s;
            border-width: 2px;
            border-image-source:  linear-gradient(rgba(142, 233, 1),rgba(79, 156, 44,1)); 
          
            }
        }
        .mySwiper{
     
            height: rem(216);
        }
    }
}