@import "../../../../../../app/styles/style.scss";

.totalPriceBasket {
    display: flex;
    align-items: center;
    gap:rem(40);
    }

    .left {
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
@media (max-width:$mobile){
    font-size: 12px;
    line-height: 16px;    
}


color: #000000;

    }

    .right {
        padding-bottom: rem(11);
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
color: #000000;
position: relative;
@media (max-width:$mobile){
    font-size: 18px;
    line-height: 22px;    
}
&::before{
    content:'';
    position: absolute;width: 100%;height: rem(2);bottom: 0;left: 0;
    background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
}
    }

    .buttonCart {
        @media (max-width:$mobileSmall){
             font-size: 12px; 
        }
    align-items: center;
      background-color: #FFFFFF;
      border: 1px solid rgba(205, 204, 204, 0.4);
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      color: rgba(0, 0, 0, 0.85);
      cursor: pointer;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: em(42);
      padding: 0 em(20);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
      &::before{
        margin-right: rem(5);
      }
      &:hover,
       &:focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: rgba(0, 0, 0, 0.65);
    }
    
    &:hover {
        transform: translateY(-1px);
      }
      
    &.active {
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
      }
    }

    .bottom{
        display: flex;
        margin-top: rem(30);
        justify-content: flex-end;
        margin-bottom: rem(116);
        @media (max-width:$mobileSmall){
            justify-content: space-between;
       }

    }

    .submit {
        margin-right: rem(105);
        @media (max-width:$mobile){
            margin-right: rem(50); 
        }
    }